<launch>
    <arg name="use_map_topic" default="true"/>
    <arg name="scan_topic" default="/laser/scan" />

    <node pkg="amcl" type="amcl" name="amcl">
        <rosparam file="$(find robot_project)/config/amcl_params.yaml" command="load" />

        <param name="use_map_topic" value="$(arg use_map_topic)"/>
        <remap from="scan" to="$(arg scan_topic)"/>
    </node>
</launch>