<launch>
    <arg name="use_map_topic" default="true"/>
    <arg name="scan_topic" default="/laser/scan" />
    <arg name="odom_topic" default="/odometry/filtered" />

    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="a" default="0.0"/>

    <node pkg="amcl" type="amcl" name="amcl">
        <rosparam file="$(find robot_project)/config/amcl_params.yaml" command="load" />

        <param name="use_map_topic" value="$(arg use_map_topic)"/>
        <param name="initial_pose_x" value="$(arg x)"/>
        <param name="initial_pose_y" value="$(arg y)"/>
        <param name="initial_pose_a" value="$(arg a)"/>

        <remap from="scan" to="$(arg scan_topic)"/>
        <remap from="odom" to="$(arg odom_topic)" />
    </node>
</launch>